# AethelLib Industrial Whitelist
# Ignore everything by default
*

# Allow the Industrial Payload
!scripts/
!scripts/**
!README.md
!LICENSE
!.gitignore

# Re-ignore things inside scripts if needed (none for now)
# !scripts/my_special_file.js

# Prevent accidental inclusion of system files
.DS_Store
Thumbs.db
node_modules/
BDS/
worlds/
*.db
*.log
ContentLog*
